.combo-box {
    -fx-background-color: #f3f3f3;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-family: "Roboto"; 
    
    -fx-font-size: 9px; 
    -fx-padding: 2px 10px; 
    -fx-background-radius: 5px;
    -fx-background-radius: 13px;
}

.combo-box-popup .list-view {
    -fx-background-color: white; 
    -fx-background-radius: 13px;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0); 
}

.combo-box .list-cell {
    -fx-background-radius: 13px;
    -fx-background-color: #f3f3f3; 
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-font-family: "Roboto"; 
    
    -fx-font-size: 10px; 
    
}

.combo-box:pressed {
    -fx-background-color: #b1b0b0; 
}
