.button {
    -fx-background-color: #d82871; /* Color de fondo azul */
    -fx-text-fill: rgb(255, 255, 255); /* Color del texto blanco */

    -fx-font-size: 12px; /* Tamaño de fuente */
    -fx-font-weight: bold;

    -fx-background-radius: 16px;

}

/* Estilos para el botón cuando es presionado */
.button:pressed {
    -fx-background-color: rgb(255, 255, 255);; /* Cambia el color de fondo al presionar */
    -fx-text-fill: rgb(206, 9, 144);
}